:root{
   --bg-main: #0f172a;
   --bg-card: #1e293b;

    --secondary-background: ; 

    --text-primary: #f1f5f9;
    --text-secondary: #94a3b8;

    --color-primary: #0ea5ff ;

    --color-primary-hover: #2563eb;




    --border-color: #334155;
    --radius: 14px;

    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-main);
    color: var(--text-primary);
}



/* Header */
header {
    background-color: var(--bg-main);

    position:sticky;
    top: 0;
}

.header-container {
    padding: 10px 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav li {
    font-size: large;
    font-weight: bold;
}

nav a {
    /* padding: 0 20px; */
    text-decoration: none;
    color: var(--text-primary);
    transition: color var(--transition-speed);
}

nav a:hover {
    color: var(--color-primary-hover);
}

.btn {
    background-color: var(--color-primary);
    color: var(--text-primary);
    box-shadow: -1px 1px 10px rgba(189, 184, 184, 0.796);
    border: none;
    border-radius: var(--radius);
    transition: background-color var(--transition-speed)

}

.btn:hover {
    background-color: var(--color-primary-hover);
    box-shadow: -1px 1px 10px rgb(0, 0, 0);
}
.btn-primary {
   padding: 12px 9px;
   font-size: 16px;
}



/* Main */

    /* section */
 .section-container {
        text-align: center;
        width: 90%;
        margin: 70px auto;
        padding: 25px;
        border: solid var(--border-color);
        border-radius: var(--radius);
        box-shadow: -1px 1px 10px rgba(255, 255, 255, 0.796);
  }

    /* hero */
 .hero {
        width: 100%;
        padding: 20px;
        line-height: 5em;
        text-align: center;

        background-image:linear-gradient(rgba(15, 23, 42, 0.9), rgba(15, 23, 42, 0.5)), url('../assets/images/download.jpg');
        background-size: cover;
        background-position: center;
  }

 .hero-btn{
        font-size: 20px;
        padding: 8px;
        text-decoration: none;
        box-shadow: -1px 1px 10px rgba(255, 255, 255, 0.796);
        
  }

    /* features */
 .features{
        line-height: 3;
  }

 .feature-cards {
        padding: 0 10px;
  }

 .inner-fc {
        margin: 15px 0;
        padding: 5px;
        background-color: var(--bg-card);
        box-shadow: -1px 1px 5px rgba(93, 64, 64, 0.796);
        transition: var(--transition-speed);
  }

 .inner-fc:hover{
        cursor: pointer;
        padding: 15px;
        box-shadow: 0 0 10px rgba(156, 153, 153, 0.99);
  }


