:root{
   --bg-main: #0f172a;
   --bg-card: #1e293b;

    --secondary-background: ; 

    --text-primary: #f1f5f9;
    --text-secondary: #94a3b8;

    --color-primary: #3b82f6 ;

    --color-primary-hover: #2563eb;




    --border-color: #334155;
    --radius: 12px;

    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-main);
    color: var(--text-primary);
}



/* Header */
/* .container {
    width:90%;
    max-width:1100px;
    margin:0 auto;
    background-color: wheat;
} */

header {
    
    /* padding: 0 12px; */
    background-color: var(--border-color);

    position:sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav li {
    font-size: larger;
    font-weight: bold;
}

nav a {
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-secondary);
    transition: color var(--transition-speed);
}

nav a:hover {
    color: var(--color-primary-hover);
}

.btn-primary {
   background-color: var(--bg-card);
   color: var(--text-primary);

   margin: 8px 60px 5px 0;
   padding: 12px 9px;
   font-size: 16px;

   box-shadow: -1px 1px 10px rgba(255, 255, 255, 0.796);

   border: none;
   border-radius: var(--radius);
   transition: background-color var(--transition-speed)
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    box-shadow: -1px 1px 10px rgb(0, 0, 0);
}


/* Main */

 /* section */
 .container {
    margin: 50px ;
    padding: 50px;
    display: grid;
    gap: 2rem;

    text-align: center;
}

    /* hero */

.hero {
    width: 100%;
    padding: 20px;
    line-height: 5;
    text-align: center;

    background-image:linear-gradient(rgba(15, 23, 42, 0.9), rgba(15, 23, 42, 0.5)), url('../assets/images/download.jpg');
    background-size: cover;
    background-position: center;
}

/* features */
